# Muses72320 .gitignore file.
# Ignore object files.
bin/

# Ignore CMake files.
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
